* {
  cursor: pointer;
}


canvas {
  border: 5px solid  rgb(236, 203, 56);
  background-color: rgb(124, 124, 240);
  }

#my-canvas {
  cursor: none;
}

.btn {
  background-color: #000;
  height: 50px;
  color: rgb(236, 203, 56);
  font-size: 20px;
  width: 100px;
  border: rgb(236, 203, 56) solid;
}


body {
  background-color: black;
}

#title {
  color:rgb(236, 203, 56);
  text-decoration: underline overline
}

#main-title {
  color:rgb(236, 203, 56);
  text-decoration: overline;
  font-size: 80px;
  padding-top: 3%;
  font-family: 'Montez', cursive;
  border-bottom: 7.5px solid rgb(236, 203, 56);
}

span {
  color: rgb(236, 203, 56);
  font-size: 30px;
  font-family: 'Amatic SC', cursive;
}

/* PARTE DEL MENU */

#menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  color: rgb(236, 203, 56);
}

.titulo {
  
  display: flex;
  justify-content: center;
  height: 33vh
  /* align-content: center */
}

.controles {
  
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 33vh;
  font-family: 'Amatic SC', cursive;
  font-size: 20px;
}

#input {
  display: flex;
  flex-direction: row;
}

#input label {
  margin: 0px 5px;
}

.players {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.selectors{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
} 

.instrucciones {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  height: 30vh;
  font-family: 'Amatic SC', cursive;
  /* line-height: 15px; */
}

.instrucciones span {
  text-align: center;
  line-height: 20px;
  font-size: 35px;
}


  /* PARTE DEL CANVAS */

#juego{
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} 

#replay {
  margin-top: 3vh;
  display: none;
}

#speed {
  color: red;
}

#replay span {
  color: rgb(236, 203, 56);
  font-family: none;
  font-size: 20px;
}

#title {
  font-size: 60px;
}
  
